body{
    background-color: grey;
}

nav{
    background-color: white;
}

footer{
    background-color: white;
    height: 50px;
}

section{
    background-color: lightblue;
    height: 600px;
    width: 1200px;
}
